@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @media (prefers-color-scheme: light) {
    :root {
      --color-task-bar: 35,35,130;
      --color-cycle-line: 130,35,35;
      --color-on-surface: 0,0,0;
      --color-accent: 35,35,130;
    }
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-task-bar: 80,80,200;
      --color-cycle-line: 200,80,80;
      --color-on-surface: 255,255,255;
      --color-accent: 150,150,245;
    }
  }

  :root {
    @apply text-opacity-80;
    @apply bg-white text-black;
    @apply dark:bg-gray-800 dark:text-white;
  }

}
